.downInfo {
  display: flex;
  flex-direction: column;
  row-gap: clamp(rem(35), 7vw, rem(60));
  width: 100%;

  &Title {
    @include fluid-text(50, 30);
    line-height: clamp(rem(34), 7vw, rem(58));

    &Quality {
      color: $mainPurple;
    }

    @include mobile() {
      text-align: center;
    }
  }

  &List {
    display: flex;
    flex-direction: column;
    row-gap: clamp(rem(16), 7vw, rem(27));
  }

  &Li {
    list-style: disc;
    margin-left: rem(20);
    color: $mainGray;
  }

  &ButtonBlock {
    position: relative;
    width: fit-content;

    &::before {
      position: absolute;
      content: url("../../assets/icons/Vector1.svg");
      bottom: rem(-60);
      right: rem(-150);

      @include mobile() {
        rotate: 100deg;
        bottom: rem(-220);
        right: 0;
        left: rem(-260);
      }
    }

    @include mobile() {
      align-self: center;
    }
  }

  &Button {
    display: flex;
    align-items: center;
    column-gap: rem(15);
    padding: rem(18) rem(26);
    background-color: $mainPurple;
    color: $mainWhite;
    border-radius: rem(14);

    @include hover() {
      opacity: 0.8;
    }
  }
}
