.registerForm {
  display: flex;
  flex-direction: column;
  row-gap: rem(20);
  margin-inline: auto;
  width: min(100%, rem(380));

  &ContainerInput {
    display: flex;
    flex-direction: column;
  }

  &ContainerPassword {
    position: relative;
  }

  &Hide {
    position: absolute;
    top: calc(50% + rem(5)); 
    right: rem(25);
    width: rem(20);
    height: rem(20);

    &Show {
      color: $mainPurple;
    }
  }

  &Input {
    padding: rem(24);
    margin-top: rem(25);
    border-radius: rem(14);
    background-color: $lightGray;
    border-color: transparent;
    font-size: rem(17);
    font-weight: 500;
    transition: $transition;

    &Password {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &Text {
      background-color: transparent;
      border-color: $mainPurple;
      color: $mainPurple;
    }
  }

  &Error {
    color: $secondaryRed;
  }

  &LoginButton {
    padding-block: rem(24);
    margin-top: rem(40);
    width: 100%;
    background-color: $mainPurple;
    color: $mainWhite;
    border-radius: rem(15);

    @include hover() {
      opacity: 0.8;
    }
  }

  &SingUp {
    @include fluid-text(19, 16);
    margin-top: rem(20);
    text-align: center;
    
    &Link {
      color: $mainPurple;
      font-weight: 700;
    }
  }
}