.authForm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: rem(40);

  &Background {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Container {
    display: flex;
    flex-direction: row;
    font-family: $poppins;
  }
}