button, label {
  cursor: pointer;
}

body {
  background-color: $secondaryWhite;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: inherit;
  border: 0;
  outline: 0;
  transition: $transition;
}

html {
  -webkit-tap-highlight-color: transparent;
}

input {
  outline: 0;
}