/* Font */
$quicksand: "Quicksand";
$inter: "Inter 18pt";
$poppins: "Poppins";
$publicSans: "Public Sans";
$manrope: "Manrope";
$plusJakartaSans: "Plus Jakarta Sans";

/* Colors */
$mainPurple: #6C5FBC;
$mainDark: #606060;
$mainBlack: #000000;
$mainWhite: #FFFFFF;
$mainGray: #676767;
$mainBlue: #334155;

$darkPurple: #323142;

$typeYellow: #DAA31A;
$typeRed: #FB471D;
$typeGreen: #309D5B;

$typeLightYellow: #F7EDD0;
$typeLightRed: #F7C5BA;
$typeLightRed: #33AC64;

$secondaryGray: #CBCBCB;
$secondaryPurple: #6155AE;
$secondaryWhite: #F9F9F9;
$secondaryBlack: #201F1F;
$secondaryRed: #EB3F5E;
$secondaryYellow: #FBAD18;

$accentPurple: #6155AE;
$accentWhite: #CBD5E1;

$lightPurple: #F4F0FF;
$lightGreen: #F2FDF6;
$lightGray: #F5F5F5;

$iconPurple: #936DFF;
$iconGreen: #22C55E;

/* Transition */
$transition: 0.4s;

/* Z-index*/
$z-100: 100;
$z-200: 200;
$z-300: 300;
$z-400: 400;
$z-500: 500;
$z-600: 600;

/* Width */
$mainWidthContainer: 1248;