.authButtonsContainer {
  display: flex;
  column-gap: rem(10);

  &Button {
    @include fluid-text(18, 16);
    border-radius: rem(18);
    font-weight: 700;

    &:first-child {
      background-color: transparent;
      color: $mainDark;
    }

    &:last-child {
      background-color: $mainPurple;
      color: $accentWhite;
    }
  }
}