.authButtonsContainer {
  display: flex;
  column-gap: rem(10);

  &Button {
    display: block;
    padding: rem(12) rem(19);
    border-radius: rem(18);
    font-weight: 500;

    &:first-child {
      background-color: transparent;
      color: $mainDark;

      @include hover() {
        background-color: $mainDark;
        color: $mainWhite;
      }
    }

    &:last-child {
      background-color: $mainPurple;
      color: $mainWhite;

      @include hover() {
        opacity: 0.8;
      }
    }
  }
}