.list {
  @include fluid-text(18, 16);
  display: flex;
  column-gap: rem(54);
  color: $mainGray;

  &Link {
    @include focus();
    position: relative;
    display: block;
    transition: $transition;

    &::before {
      content: "";
      position: absolute;
      bottom: rem(-3);
      left: 0;
      width: 100%;
      height: rem(1);
      background-color: $mainGray;
      scale: 0;
      transform-origin: left;
      transition: $transition;
    }

    @include hover() {
      &::before {
        scale: 1;
      }
    }

    &:active {
      color: $mainPurple;

      &::before {
        background-color: $mainPurple;
      }
    }
  }

  &Page {
    &::before {
      content: "";
      position: absolute;
      bottom: rem(-3);
      left: 0;
      width: 100%;
      height: rem(1);
      background-color: $mainGray;
    }
  }
}