.burger {
  position: fixed;
  top: 0;
  right: 0;
  padding: rem(60) rem(40);
  width: min(100%, 400px);
  height: 100vh;
  background-color: $mainWhite;
  transform: translateX(100%);
  transition: $transition;

  &List {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: rem(30);
    margin-bottom: rem(50);
    font-size: rem(24);
  }
  
  &Buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: rem(20);
  }

  &Active {
    transform: translateX(0);
  }
}