@use "sass:math";

@function rem($pixels) {
  @if (math.is_unitless($pixels)) {
    @return math.div($pixels, 16) + rem;
  } @else {
    @return "Убрать единицу измерения";
  }
}

@function fluid($max, $min) {
  $maxViewportWidth: 1600;
  $minViewportWidth: 560;

  $minFront: math.div($min, 16);
  $maxFront: math.div($max, 16);
  $minViewport: math.div($minViewportWidth, 16);
  $maxViewport: math.div($maxViewportWidth, 16);

  $slope: math.div(($maxFront - $minFront), ($maxViewport - $minViewport));
  $yAxisIntersection: -$minViewport * $slope + $minFront;

  @return clamp(
    #{$minFront * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
    #{$maxFront * 1rem}
  )
}