.downImage {
  display: flex;
  justify-content: center;
  width: 100%;
  
  &Image {
    position: relative;

    &::before {
      position: absolute;
      content: url("../../assets/icons/illustration01.svg");
      top: rem(-30);
      right: rem(-79);

      @include mobile() {
        right: rem(-50);
      }
    }

  }
  
  @include mobile() {
    width: min(100%, rem(200));
  }
}