.restoranImage {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  
  &Image {
    position: relative;

    &::before, &::after {
      position: absolute;
      width: auto;
      height: auto;
    }
  
    &::before {
      content: url("../../assets/icons/illustration01.svg");
      top: rem(-10);
      right: rem(-15);
    }
  
    &::after {
      content: url("../../assets/icons/illustration02.svg");
      bottom: 0;
      left: rem(-10);
    }
  }

  @include laptop() {
    padding-inline: rem(20);
  }
}