.downApp {
  font-family: $poppins;
  
  &Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(40);
    padding-block: rem(100) rem(120);
    border-bottom: rem(1) solid $secondaryGray;

    @include mobile() {
      flex-direction: column-reverse;
      row-gap: rem(150);
      padding-block: rem(65);
    }
  }
}