.button {
  @include fluid-text(18, 16);
  @include focus();
  padding: rem(18) rem(27);
  font-weight: 600;
  transition: $transition;

  &:active {
    translate: 0 rem(1);
  }
}


.link {
  @include fluid-text(18, 16);
  @include focus();
  transition: $transition;

  &:active {
    translate: 0 rem(1);
  }
}