.formPanel {
  padding-inline: rem(48);
  padding-block: rem(48);
  width: 100%;

  &TitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    width: min(100%, rem(380));

    &Title {
      @include fluid-text(35, 26);
      margin-bottom: clamp(rem(30), 3vw, rem(48));
    }

    &Buttons {
      display: flex;
      justify-content: space-between;
      column-gap: rem(10);
      width: 100%;
    }

    &Button {
      padding-block: rem(5);
      text-align: center;
      font-size: rem(31);
      font-weight: 600;
      width: rem(183);
      background-color: $lightGray;
      border-radius: rem(13);

      @include hover() {
        color: $mainWhite;
        background-color: $mainGray;
      }
    }

    &Or {
      @include fluid-text(20, 16);
      margin-top: rem(30);
      color: $opacityGreen;
      font-weight: 500;
    }
  }

  &Secure {
    display: flex;
    justify-content: space-between;
    margin-top: rem(60);
  }
  @include mobile() {
    padding-inline: 0;
  }
}