.hero {
  margin-top: rem(94);
  font-family: $poppins;
  
  &Container {
    display: flex;
    column-gap: rem(40);
    padding-block: rem(55) rem(85);

    @include mobile() {
      flex-direction: column;
      row-gap: rem(45);
    }
  }
}