.heroInfo {
  width: 100%;
  align-self: center;

  &TitleCont {
    display: flex;
    flex-direction: column;
    row-gap: rem(12);

    @include mobile() {
      align-items: center;
    }
  }

  &Count {
    display: flex;
    align-items: center;
    column-gap: rem(14);
    color: $opacityGray;
  }

  &Title {
    @include fluid-text(53, 36);
    color: $secondaryBlack;
    line-height: 120%;

    &World {
      color: $mainPurple;
    }

    @include mobile() {
      text-align: center;
    }
  }

  &About {
    @include fluid-text(16, 12);
    color: $mainGray;

    &Bonus {
      color: $secondaryPurple;
    }

    @include laptop() {
      text-align: center;
    }
  }

  &Buttons {
    display: flex;
    column-gap: rem(12);
    margin-top: rem(35);

    @include mobile() {
      justify-content: center;
    }
  }

  &Button {
    padding: rem(12) rem(21);
    color: $mainWhite;
    background-color: $mainPurple;
    border-radius: rem(9);

    @include hover() {
      opacity: 0.8;
    }

    &Sub {
      @extend .heroInfoButton;
      color: $mainPurple;
      background-color: transparent;
      border: rem(1) solid $mainPurple;

      @include hover() {
        opacity: 1;
        background-color: $darkPurple;
        color: $mainWhite;
        border-color: transparent;
      }
    }
  }

  &Rating {
    display: flex;
    column-gap: rem(14);
  }

  &Company {
    display: flex;
    align-items: flex-end;
    column-gap: rem(14);
    margin-top: rem(23);
  }

  &Stars {
    display: flex;
    align-items: center;
    column-gap: rem(6);
    font-size: rem(11);
    color: $mainBlue;
  }
}
