.view {
  @include focus();
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  width: fit-content;
  column-gap: rem(20);
  margin-top: rem(65);
  color: $secondaryLightGray;
  transition: $transition;

  @include hover() {
    color: $mainBlack;
  }

  &:active {
    transform: translateY(rem(1));
  }
}
